# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
.env
.venv/

# macOS
.DS_Store

# Node / Frontend
node_modules/
dist/
build/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/
.idea/
*.swp

# Misc
*.sqlite3
*.sqlite
.coverage
coverage/

